<div class="container mt-5 text-center">
    <h1 class="bg-success d-inline-flex p-2"><strong>LONGEST-WORD-GAME</strong></h1>
  <br>
  <h5>What's the longest English word you can find?</h5>
  <p class="text-success">Use only letters from the grid below &#10549;</p>
  <%= @letters %>
  <br>
  <br>
  <form action="score" method="post">
    <input type="hidden" name="letters" value="<%= @letters.join %>">
    <input type="text" name="guess" placeholder="🤔?">
    <input type="submit">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%# ^ needs to be WITHIN the form block or it won't work ^ %>
  </form>
</div>
