<div class="container mt-5 text-center">
  <h1><strong>RESULT</strong></h1>

  <%= @result %>

  <h3><%= link_to "Play again", new_path, class: "text-success" %></h3>

  <h3><%= link_to "END GAME AND SHOW RESULTS!", show_path, class: "text-success"  %></h3>
</div>
